{% extends "base.html" %}
{% block content %}
<form action="{{post_url}}" method="POST">
    {{ form.hidden_tag() }}
{% for field in form 
    if field.widget.input_type != "hidden" %}
    <div class="form-group mb-3">
        {{ field.label(class_="form-label") }}
        {{ field(class_="form-control") }}
    
        {% for err in field.errors %}
        <small class="form-text text-danger">
            {{ err }}
        </small>
        {% endfor %}
    </div>
    
{% endfor %}
    <button class="btn btn-primary mt-4 text-center" type="submit">Submit</button>
</form>
<a class="btn btn-secondary mt-4" href="{{exit_path}}">{{exit_name}}</a>
{% endblock %}